
body{
    
        font-size: 16px;
        background: rgb(43, 187, 108);
      
}
h2{
   text-align: center;
   color: rgb(5, 4, 4);
   background-color: rgb(151, 148, 148);
   border: 1px solid rgb(247, 4, 4);
}
div{
    padding: 30px;
    background-color: rgb(55, 98, 241);
   width: 500px;
   border: 3px solid rgb(252, 4, 4);
   margin-top: 25%;
   
    margin:250px 450px; 
}
.button{

    background-color: #e67e22;

    border: none;

    color: white;

    padding: 15px 30px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 16px;

    margin: 4px 2px;

    cursor: pointer;
  
}


